---
import Layout from "../layouts/Layout.astro";
import resume from "../data/resume.json";
import {formatDateRange, pickColorByHash} from "../utils";
---

<Layout title="Resume - Pavitra Golchha">
    <style>
        @media print {
            @page {
                size: a4 portrait;
                font-size: 12pt;
            }
        }

        .prose-custom {
            @apply prose-h2:underline prose-h2:decoration-emerald-300;
            @apply prose-h3:underline prose-h3:decoration-sky-300;
            @apply mx-auto my-16 max-w-none w-11/12;
            @apply marker:text-sky-400;
        }

        .chip {
            @apply rounded bg-slate-100 px-2 font-mono font-semibold;
        }
    </style>

    <main class="prose prose-custom">
        <section>
            <div class="flex justify-between">
                <h1>{resume.basics.name}</h1>
                <div class="flex flex-wrap gap-4 items-start not-prose">
                    <span>
                        <img src="/mail.svg" alt="mail icon" class="inline"/>
                        {resume.basics.email}
                    </span>
                    <span>
                        <img src="/world-www.svg" alt="web icon" class="inline"/>
                        <a href={resume.basics.url} target="_blank">
                            {resume.basics.url}
                        </a>
                    </span>
                    {
                        resume.basics.profiles.map(profile => (
                                        <span>
                                            <img src=`/brand-${profile.network.toLowerCase()}.svg` alt="icon" class="inline"/>
                                            <a href={profile.url} target="_blank">
                                                {profile.network} / {profile.username}
                                            </a>
                                        </span>
                            )
                        )
                    }
                </div>
            </div>
        </section>
        <section>
            <h2>Career Objective</h2>
            <p>{resume.basics.summary}</p>
        </section>
        <div class="grid grid-cols-2 gap-6">
            <div>
                <section>
                    <h2>Experience</h2>
                    {
                        resume.work.map(work => (
                                <div>
                                    <h3>{work.name}</h3>
                                    <p>{work.description}</p>
                                    <p>
                                        <b>{work.position}</b>, {formatDateRange(work)}
                                    </p>
                                    <p>{work.summary}</p>
                                    <ul>
                                        {
                                            work.highlights?.map(highlight => (
                                                    <li>{highlight}</li>
                                            ))
                                        }
                                    </ul>
                                </div>
                        ))
                    }
                </section>
                <section>
                    <h2>Education</h2>
                    {
                        resume.education.map(edu => (
                                <div>
                                    <h3>{edu.institution}</h3>
                                    <p><b>{edu.studyType}</b>, {edu.area}</p>
                                    <p>{formatDateRange(edu)}</p>
                                </div>
                        ))
                    }
                </section>
            </div>
            <div>
                <section>
                    <h2>Technical Skills</h2>
                    <div class="flex flex-wrap gap-4">
                        {
                            resume.skills.map(skill => (
                                    <div>
                                        <span>{skill.name}</span>
                                        <span class="flex flex-wrap gap-2">
                                            {
                                                skill.keywords?.map(kw => (
                                                        <div class=`chip outline outline-1 ${pickColorByHash(kw)}`>{kw}</div>
                                                ))
                                            }
                                        </span>
                                    </div>
                            ))
                        }
                    </div>
                </section>
                <section>
                    <h2>Projects</h2>
                    <ul>
                        <li><b>picsup</b> - An image sharing platform</li>
                        <li><b>VR Compatibility Checker</b> (~100K downloads)</li>
                        <li>
                            <b>PlayBadges</b> - a badge service for Play Store app's downloads and rating
                        </li>
                        <li><b>FloLang</b> - an interpreted programming language</li>
                        <li><b>Sendy</b> - anonymous file transfer service</li>
                    </ul>
                </section>
                <section>
                    <h2>Certifications</h2>
                    <div>
                        <ul>
                            {
                                resume.certificates.map(cert => (
                                        <li>{cert.name}</li>
                                ))
                            }
                        </ul>
                    </div>
                </section>
                <section>
                    <h2>Other experiences</h2>
                    <div>
                        <h3>Google Developers Student Clubs</h3>
                        <p>
                            <b>Tech Lead</b><span>,</span>
                            <span>Mar 2020 - 2022</span><br/>
                        </p>
                        <p>Hosted several workshops for Android Study Jams and Kotlin</p>
                    </div>
                    <div>
                        <h3>Google Cloud Sprint Bootcamp</h3>
                        <p>
                            <b>Participant</b><span>,</span>
                            <span>June - July 2022 (4 weeks)</span><br/>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</Layout>
